<ion-header>
  <ion-toolbar color="tertiary">
    
    <div > <ion-icon routerLink="/login"  class="circleBack" name="arrow-back" size="large"></ion-icon> <ion-icon  class="circleUser" color="tertiary" name="person-outline"></ion-icon> </div>
    <ion-title>Tu cuenta personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="titulo">Crea tu cuenta, es muy sencillo</div>
  <form [formGroup]="regisForm"  (ngSubmit)="save(regisForm.value)">
<div class="box">
    <div class="txtInput">Nombre</div>
    <ion-item lines="none">
        <ion-input formControlName="name" type="text"></ion-input>
      
     </ion-item>
     <small *ngIf="nameNoValido" >
      Debe ingresar min 4 letras
    </small>

     <div class="txtInput">Apellidos</div>
     <ion-item lines="none">
        <ion-input formControlName="lastname" ></ion-input>
     </ion-item>

    <small *ngIf="lastnameNoValido" >
     Debe ingresar min 4 letras
   </small>


     <div class="txtInput">Selecciona tu genero</div>
     <ion-item lines="none">
      <ion-select formControlName="gender" placeholder="Despliega opciones">
        <ion-select-option value="M">Masculino</ion-select-option>
        <ion-select-option value="F">Femenino</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <div class="box">

     <div class="txtInput">Correo electronico</div>
    <ion-item lines="none">
      
        <ion-input formControlName="email" ></ion-input>
     </ion-item>

     <small *ngIf="emailNoValido" >
      No es un  formato de correo valido
    </small>
     
     <div class="txtInput">Contrasena</div>
    <ion-item lines="none">
        <ion-input  formControlName="password"  type="password" ></ion-input>
    </ion-item>  
    
    <small *ngIf="passNoValido" >
      Debe tener mas de 6 caracteres
    </small>

  </div>
  
    <div class="button ion-text-center">
    <ion-button  shape="round"  type="submit" >CREAR CUENTA<ion-icon name="arrow-forward" ></ion-icon></ion-button>
  </div>
</form>
</ion-content>
