*{

    background-color: #F5F6F8;
    color: #404040;
    font: normal normal 21px Montserrat;
}

ion-content {

    --ion-background-color: #F5F6F8;
    height: 100%;
    
  }
  

ion-item{

    background-color: #F5F6F8;
}

ion-label{

    background-color: #F5F6F8;
}

ion-title{
   
    text-align: center;
}

h2{
    font: normal normal bold 18px Montserrat;

}

p{
    font: normal normal Medium 12px Montserrat;
    color: #404040
}